################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/VisumDemo/.vs/VisumDemo/DesignTimeBuild
/VisumDemo/VisumAPI/obj
/VisumDemo/VisumDAS/obj
/VisumDemo/VisumDAS/bin/Debug/net5.0
/VisumDemo/VisumKafkaConsumerAPI/bin/Debug/net5.0
/VisumDemo/VisumKafkaConsumerAPI/obj
/VisumDemo/VisumKafkaConsumerAPI/bin
